.footer {
  display: block;
  background-color: #ececec;
  padding: 20px 30px;
  color: #aaaaaa;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
}
.footer-link {
  cursor: pointer;
  margin-right: 20px;
}
