.search-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  color: #50514f;
  padding: 20px 0;
  border-radius: 6px;
  border: solid 1px #c4c4c4;
  margin-top: 4px;
}

.search-dropdown-item {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms ease-in;
  padding: 10px 30px;
}

.search-dropdown-item:hover,
.search-dropdown-item-hover {
  opacity: 1;
  background: rgba(201, 211, 222, 0.44);
}
