.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-search-container {
  background-image: url('/img/total-discovery-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 70px 100px;
}

.app-search {
  margin-top: 30px;
  max-width: 700px;
}

.app-search-subtitle {
  margin-top: 10px;
}

.app-tabbar {
  margin-top: 30px;
}

.app-marketing-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.app-marketing-container h2 {
  margin-top: 60px;
}
.app-marketing-container h3 {
  margin-top: 10px;
}

.app-marketing-numbers-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.app-marketing-number {
  font-size: 2em;
}

.app-marketing-buttons-container {
  margin-top: 40px;
}
.marketing-button {
  margin-right: 20px;
  min-width: 120px;
}

.app-search-list {
  padding: 40px 100px;
}

.app-no-results {
  padding: 40px 100px;
}

.app-search-result-item {
  padding: 10px 20px;
  color: #343434;
  margin-bottom: 20px;
  cursor: pointer;
}

.app-search-result-item:hover h4 {
  text-decoration: underline;
}

.app-loading-spinner {
  width: 40px;
  height: 40px;
  border-top: solid 2px #9e9e9e;
  border-bottom: solid 2px #9e9e9e;
  border-right: solid 2px #9e9e9e;
  animation: rotation 500ms infinite linear;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 700px) {
  .app-search-container {
    padding: 70px 20px;
  }
  .app-search-list {
    padding: 20px 20px;
  }
  .app-no-results {
    padding: 20px 20px;
  }

  .app-marketing-numbers-container {
    flex-direction: column;
  }
  .app-marketing-number-container {
    margin-bottom: 40px;
  }
  .navbar-logo {
    height: 20px;
  }
}
